{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
		<div class="card shadow p-4" style="width: 400px;">

			<h2 class="text-center mb-4">Connexion</h2>

			{% if error %}
				<div class="alert alert-danger">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}

			<form method="post">
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input type="email" id="email" name="email" class="form-control" value="{{ last_username }}" placeholder="user1@gmail.com">
				</div>

				<div class="mb-3">
					<label for="password" class="form-label">Mot de passe</label>
					<input type="password" id="password" name="password" class="form-control" placeholder="••••••••">
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="d-grid">
					<button type="submit" class="btn btn-dark">
						Se connecter
					</button>
				</div>
			</form>

		</div>
	</div>
{% endblock %}
